/* 
this css is mobile first, so the main styling
is built for a mobile screen 
see styling-responsive.css for more
*/
html,
body{
	margin: 0;
	height: 100%;
	font-family: 'Josefin Sans';
}

div#logo-container{
	padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
}

div#logo-container img{
	width: 120px;
    height: auto;
}

div#hero-mobile {
	background-image: url('../images/hero-mobile.jpg');
	background-size: cover;
	height: 251px;
}

div#form-container {
	background-color: hsl(300, 100%, 95%);
	padding: 60px 25px;
}

div#form-container #heading {
	font-size: 42px;	
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
}

div#form-container #heading span{
	display: block;
	font-family: 'Josefin Sans';
	font-weight: 300;	
}
div#form-container #heading span#red-text {	
    color: hsl(0, 36%, 70%);
}

p {
	color: hsl(0, 36%, 70%);
    text-align: center;
    font-size: 12px;
    width: 294px;
    line-height: 23px;
    letter-spacing: 1px;
	padding-top: 10px;
    padding-bottom: 20px;
}

form {
	width: 295px;
}

input[type=text]{
	background-color: hsl(300, 100%, 95%);
    padding: 15px 20px;
    width: 295px;
    box-sizing: border-box;
    border-radius: 35px;
    border: 1px solid hsl(0, 6%, 75%);
	font-family: 'Josefin Sans';
    font-size: 12px;
    font-weight: 800;
}

input[type=text]::placeholder{
	color: hsl(0, 6%, 75%);
}

input[type=text]:focus {
	outline-color: hsl(0, 6%, 75%);
	outline-width: 0;
}

#submit {
    background-image: url(../images/icon-arrow.png), linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    background-repeat: no-repeat;
    background-position: center center;
    padding: 15px 30px;
    border-radius: 35px;
    position: relative;
    bottom: 47px;
    float: right;
    border: none;
}

#submit:focus {
	outline-width: 0;
}
section div#image-column {
		display: none;
	}
	
form #error-icon {
    position: relative;
    bottom: 48px;
    float: right;
    right: 15px;
}

form strong {
	font-family: 'Josefin Sans';
	color: hsl(0, 36%, 70%);
    font-size: 12px;
	padding-left: 21px;
}

.hide-error {
	display: none;
}